﻿@model WebAppPeliculas.Models.Entity.LoginEntity
<link rel="stylesheet" href="~/css/login.css" />
@{
    ViewData["Title"] = "Login";
}

<div class="wrapper">
    <form asp-action="Login" class="form">
        <div class="w-100 pb-2">
            <h2>Iniciar Sesion</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w-100 pb-2">
            <label asp-for="Usuario" class="pb-1"></label>
            <input asp-for="Usuario" class="input-form" />
            <span asp-validation-for="Usuario" class="text-danger"></span>
        </div>
        <div class="w-100 pb-2">
            <label asp-for="Clave" class="pb-1"></label>
            <input asp-for="Clave" class="input-form" type="password" />
            <span asp-validation-for="Clave" class="text-danger"></span>
        </div>
        <div class="w-100 pb-2">
            <input type="submit" value="Iniciar Sesion" class="button" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

