﻿@model IEnumerable<WebAppPeliculas.Models.Entity.DetalleActorEntity>

@{
    ViewData["Title"] = "DetalleActor";
}

<h1>Detalles de Actores</h1>
<div>
    <a asp-action="ListadoActores">Regresar a la Lista</a>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("IdActor")
        </dt>
        <dd class="col-sm-10">
            @ViewBag.IdActor
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Nombre")
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Nombre
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("FechaNacimiento")
        </dt>
        <dd class="col-sm-10">
            @ViewBag.FechaNacimiento
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Sexo")
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Sexo
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Foto")
        </dt>
        <dd style=" width: 40%; height: 40%; ">
            <img src=@ViewBag.Foto style=" width: 50%; height: 50%; " />
        </dd>
    </dl>
</div>

<h1>Lista de Peliculas</h1>

<p>
    <a asp-action="GuardarDetalleActor">@Html.ActionLink("Agregar Pelicula", "GuardarDetalleActor", new { IdActor = @ViewBag.IdActor, NombreActor = @ViewBag.Nombre })</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePelicula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePelicula)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarDetalleActor", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "EliminarDetalleActor", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
