﻿@model WebAppPeliculas.Models.Entity.DetalleActorEntity

@{
    ViewData["Title"] = "EditarDetalleActor";
}

<h1>Editar Pelicula</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarDetalleActor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdActor" class="control-label"></label>
                <input asp-for="IdActor" class="form-control" readonly />
                <span asp-validation-for="IdActor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreActor" class="control-label"></label>
                <input asp-for="NombreActor" class="form-control" readonly />
                <span asp-validation-for="NombreActor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePelicula" class="control-label"></label>
                <input asp-for="NombrePelicula" class="form-control" />
                <span asp-validation-for="NombrePelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListadoActores">Regresar a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
