﻿@model WebAppPeliculas.Models.Entity.DetalleActorEntity

@{
    ViewData["Title"] = "EliminarDetalleActor";
}

<h1>Eliminar Pelicula</h1>

<h3>Seguro que desea eliminar esta pelicula?</h3>
<div>
    <h4>DetalleActorEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdActor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdActor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreActor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreActor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePelicula)
        </dd>
    </dl>
    
    <form asp-action="EliminarDetalleActor">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
