﻿@model WebAppPeliculas.Models.Entity.ActorEntity

@{
    ViewData["Title"] = "EliminarActor";
}

<h1>Eliminar Actor</h1>

<h3>Seguro que desea eliminar este?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdActor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdActor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
    </dl>
    
    <form asp-action="EliminarActor">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="ListadoActores">Regresar a la Lista</a>
    </form>
</div>
