﻿@model IEnumerable<WebAppPeliculas.Models.Entity.ActorEntity>

@{
    ViewData["Title"] = "ListadoActores";
}

<h1>Listado de Actores</h1>

<p>
    <a asp-action="GuardarActor">Agregar Actor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdActor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdActor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td style=" width: 10%; height: 10%; ">
                <img src=@Html.DisplayFor(modelItem => item.Foto) style=" width: 100%; height: 100%; " />
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarActor", new { id = item.IdActor }) |
                @Html.ActionLink("Detalles", "DetalleActor", new { id = item.IdActor }) |
                @Html.ActionLink("Eliminar", "EliminarActor", new { id = item.IdActor })
            </td>
        </tr>
}
    </tbody>
</table>
<br/>
<br/>