﻿
@{
    ViewData["Title"] = "Gestionar";
}
<link rel="stylesheet" href="~/css/gestion.css" />
<h2>Gestion De Contenidos</h2>
<div class="contenedorMarcoImg">
    <div class="row text-center" style=" ">
        <div id="separador" style=" border-style:none; padding: 0; width: 480px; min-width: 48.5%; max-width: 100%; min-height: 48.5%; max-height: 100%;  margin: 0%; display: inline-block;  ">
            <div class="col-md-6" style="background-image: url(https://localhost:44362/Recursos/imgPeliculas.png); width:100%; height:100%;">
                <h1>Peliculas</h1>
                <p class="btnSolicitar"><a class="btn btn-default" asp-controller="Peliculas" asp-action="ListadoPeliculas">Gestionar &raquo;</a></p>
            </div>
        </div>
        <div id="separador" style=" border-style:none; padding: 0; width: 480px; min-width: 48.5%; max-width: 100%; min-height: 48.5%; max-height: 100%;  margin: 0%; display: inline-block;  ">
            <div class="col-md-6" style="background-image: url(https://localhost:44362//Recursos/imgActores.png); width:100%; height:100%;">
                <h1>Actores</h1>
                <p class="btnSolicitar"><a class="btn btn-default" asp-controller="Actores" asp-action="ListadoActores">Gestionar &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<img href="~/Recursos/imgActores.png"/>