﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome WebAppPeliculas</h1>
    <img src="https://es.web.img3.acsta.net/newsv7/21/02/12/11/48/0062650.jpg" style="width:70%; height:70%;" />
</div>

