﻿
.contenedorMarcoImg h1 {
    font-size: 30px;
    color: #fff;
    top: -90px;
    left: -10%;
    position: relative;
    color: white;
}

.contenedorMarcoImg .textoMarco {
    font-size: 15px;
    color: #fff;
    top: -90px;
    position: relative;
    color: white;
    padding: 0px;
    margin: 0px;
    left: -10%;
}

.contenedorMarcoImg a {
    font-size: 22px;
    top: -60px;
    position: relative;
    color: white;
    background-color: #677BD9;
}

.contenedorMarcoImg .row div {
    position: relative;
    background-size: cover;
    border-style: outset;
    border-width: 10px;
    border-color: whitesmoke;
    text-shadow: 0 0 10px #0026ff;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 90px;
    margin-bottom: 15px;
    text-align: justify;
    height: 400px;
    min-height: 50%;
}

    .contenedorMarcoImg .row div:hover {
        border-color: rgba(0,0,0,0.6);
    }

        .contenedorMarcoImg .row div:hover h1 {
            text-shadow: 0 0 15px #f00;
        }

.contenedorMarcoImg .row .col-md-6:hover {
    background-size: 105%;
}

.contenedorMarcoImg .row .col-md-6:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
}
