﻿#cargando {
    display: none;
}

img {
    width: 100%;
    height: 100%;
}

#items-unidad {
    border: 1px solid #999;
    box-sizing: border-box;
    color: #444;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    padding: 1em;
    width: 30%;
}

.form-horizontal {
}

.form-group {
    margin: 1%;
    padding: 1em;
    width: 100%;
}
