﻿@model IEnumerable<WebAppPeliculas.Models.Entity.DetallePeliculaEntity>

@{
    ViewData["Title"] = "ListadoPeliculas";
}

<h1>Detalles de Peliculas</h1>
<div>
    <a asp-action="ListadoPeliculas">Regresar a la Lista</a>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("IdPelicula")
        </dt>
        <dd class="col-sm-10">
            @ViewBag.IdPelicula
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Titulo")
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Titulo
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Genero")
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Genero
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("FechaEstreno")
        </dt>
        <dd class="col-sm-10">
            @ViewBag.FechaEstreno
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Foto")
        </dt>
        <dd style=" width: 40%; height: 40%; ">
            <img src=@ViewBag.Foto style=" width: 50%; height: 50%; " />
        </dd>
    </dl>
</div>



<h1>Lista de Actores</h1>

<p>
    <a asp-action="GuardarDetallePelicula">@Html.ActionLink("Agregar Actor", "GuardarDetallePelicula", new { IdPelicula = @ViewBag.IdPelicula, NombrePelicula = @ViewBag.Titulo })</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreActor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPelicula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreActor)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarDetallePelicula", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "EliminarDetallePelicula", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
