﻿@model WebAppPeliculas.Models.Entity.DetallePeliculaEntity

@{
    ViewData["Title"] = "EliminarDetallePelicula";
}

<h1>Eliminar Actor</h1>

<h3>Seguro que desea eliminar este actor?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPelicula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePelicula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreActor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreActor)
        </dd>
    </dl>
    
    <form asp-action="EliminarDetallePelicula">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
