﻿@model WebAppPeliculas.Models.Entity.PeliculaEntity

@{
    ViewData["Title"] = "EliminarPelicula";
}

<h1>Eliminar Pelicula</h1>

<h4>Seguro que desea Eliminar esta pelicula?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPelicula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEstreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEstreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10" style=" width: 40%; height: 40%; ">
            <img src=@Html.DisplayFor(model => model.Foto) style=" width: 30%; height: 30%; " />
            
        </dd>
    </dl>
    
    <form asp-action="EliminarPelicula">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="ListadoPeliculas">Regresar a la Lista</a>
    </form>
</div>
