﻿@model WebAppPeliculas.Models.Entity.DetallePeliculaEntity

@{
    ViewData["Title"] = "GuardarDetallePelicula";
}

<h1>Agregar Actor</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GuardarDetallePelicula">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPelicula" class="control-label"></label>
                <input asp-for="IdPelicula" class="form-control" readonly />
                <p>@ViewBag.IdPelicula</p>
                <span asp-validation-for="IdPelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePelicula" class="control-label"></label>
                <input asp-for="NombrePelicula" class="form-control" readonly />
                <p>@ViewBag.NombrePelicula</p>
                <span asp-validation-for="NombrePelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreActor" class="control-label"></label>
                <input asp-for="NombreActor" class="form-control" />
                <span asp-validation-for="NombreActor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListadoPeliculas">Regresar a las Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
