﻿@model IEnumerable<WebAppPeliculas.Models.Entity.PeliculaEntity>

@{
    ViewData["Title"] = "Index";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 my-4 mx-auto text-center">
    <h1 class="display-4 mt-4">Lista de Peliculas</h1>
</div>
<div class="container-productos" id="lista-pelicula">

    <div class="card-deck mb-3 text-center" id="pelicula">
        @if (Model != null)
        {
            @foreach (var objPelicula in Model)
            {
                <div class="card mb-4 shadow-sm" id="pelicula-unidad" style="min-width:30%;">
                    <div class="panel-heading">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-bold">@objPelicula.Titulo</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="@objPelicula.Foto" class="card-img-top">
                    </div>
                    <br />
                </div>

            }
        }
    </div>
</div>

