﻿@model IEnumerable<WebAppPeliculas.Models.Entity.PeliculaEntity>

@{
    ViewData["Title"] = "ListadoPeliculas";
}

<h1>Listado de Peliculas</h1>

<p>
    <a asp-action="GuardarPelicula">Agregar Pelicula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEstreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPelicula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEstreno)
                </td>
                <td style=" width: 10%; height: 10%; ">
                    <img src=@Html.DisplayFor(modelItem => item.Foto) style=" width: 100%; height: 100%; " />
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarPelicula", new { id = item.IdPelicula }) |
                    @Html.ActionLink("Detalles", "DetallePelicula", new { id = item.IdPelicula }) |
                    @Html.ActionLink("Eliminar", "EliminarPelicula", new { id = item.IdPelicula })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
